html, body {
    width: 100%;
    height: 100%;
    font-weight: 400;
}

body {
    margin: 0;
    color: #666;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    color: #a5a5a5;
    text-transform: uppercase;
    text-align: center;
    font-weight: inherit;
    font-size: 1.5em;
}

.container {
    background-color: #565656;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 4fr;
}

.subheader {
    background-color: #565656;
}

nav {
    margin-top: 2em;
    margin-right: 3em;
    background-color: #565656;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline-block;
    margin-left: 2.5em;
}

li a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: inherit;
}

li a:hover {
    color: #ffffff;
}

li a:visited {
    color: #ddd;
}

.content {
    background-color: #ffffff;
}

