html, body {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 11pt;
}

body {
    margin: 0;
    color: #666;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: auto;
    z-index: 2;
    /* opacity: 1; */
}

h2 {
    color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.5em;
    margin-top: 0;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
}

h3 {
    color: #a5a5a5;
    text-transform: uppercase;
    text-align: center;
    font-weight: inherit;
    font-size: 1.5em;
    margin: auto;
}

.container {
    background-color: #565656;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 4fr;
}

.background {
    background-image: url('background2.jpeg');
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    opacity: 0.2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    /* z-index: -1; */
}

.subheader {
    width: 100%;
    /* background-color: #565656; */
    margin: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

nav {
    margin-top: 2em;
    margin-right: 3em;
    /* background-color: #565656; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline-block;
    margin-left: 2.5em;
}

li a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: inherit;
}

li a:hover {
    color: #ffffff;
}

li a:visited {
    color: #ddd;
}

.content {
    background-color: #ffffff;
}

.row {
    max-width: 55em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#header {
    width: 100%;
    margin: 0;
    /* display: inline-block; */
    grid-column: 1 / 2;
}

.section-container {
    width: 30em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: inline-block; */
    grid-column: 2 / 3;
}

/* p {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
} */

p:first-child {
    margin-top: 0;
}

.small-url {
    text-decoration: none;
    color: inherit;
}

.small-url:hover {
    text-decoration: underline;
}