<!doctype html>
<!-- <title>{% block title %}{% endblock %} - FifiNow</title> -->
<title>FifiNow</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<header id="header">
    <nav id="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/projects.html">Projects</a>
            </li>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <a href="/cv.pdf">CV</a>
            </li>
        </ul>
    </nav>
</header>
<div id=container>

</div>
