<!doctype html>
<!-- <title>{% block title %}{% endblock %} - FifiNow</title> -->
<title>FifiNow</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<header id="header">
    <nav id="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{{ url_for('projects') }}">Projects</a>
            </li>
            <li>
                <a href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li>
                <a href="{{ url_for('cv') }}">CV</a>
            </li>
        </ul>
    </nav>
</header>
<div id=container>

</div>
